* {
  box-sizing: border-box;
  margin: 0;
}

.calculator {
  background-color: #f2f2f2;
  max-width: 400px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

#result {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
  padding: 10px;
  font-size: 24px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.btn {
  font-size: 25px;
  padding: 10px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ddd;
}

.equal {
  grid-row: span 2;
}
